@inject HttpClient Http

<div class="root">
  <h1>Get Joke!</h1>
  <button @onclick="FetchJoke">Get Joke</button>
  <h3 class="joke">@_joke</h3>
</div>

@code {

  private string _joke;

  public async Task FetchJoke()
  {
    _joke = "Getting joke...";
    HttpResponseMessage response = await Http.GetAsync("https://geek-jokes.sameerkumar.website/api");
    _joke = await response.Content.ReadAsStringAsync();
  }

}