@inherits LayoutComponentBase

<div class="root">
  <div class="header">
    <NavLink href=""><span class="header-text">BLAZOR .NET 5.0 FTW!</span></NavLink>
  </div>
  <div class="nav">
    <NavLink href="file"><button>UPLOAD FILE</button></NavLink>
  </div>
  <div class="body">
    @Body
  </div>
</div>