.root {
  display: flex;
  flex-direction: column;
}

.header {
  height: 75px;
  background-color: lightskyblue;
  text-align: center;
}

.header .header-text {
  color: white;
  font-size: 48px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  border-bottom: 2px solid blue;
}

.body {
  width: 70%;
  margin: auto;
}
